.header__lang-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: white;
}

.header__lang-link:nth-child(2) {
  padding-left: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
